<div *ngFor="let task of tasks; let index = index">
  <article *ngIf="(filter === statusEnum.All || filter === statusEnum.Active) && (task.isCompleted === false)">
    <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>
  </article>
  <article *ngIf="(filter === statusEnum.All || filter === statusEnum.Completed) && (task.isCompleted === true)">
    <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>
  </article>

  <ng-template #itemTemplate>
    <div class="input-group mb-1"
      appDelete
      (dblclick)="onDisabledTask(index)">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="checkbox"
            id="check-{{index}}"
            [checked]="task.isCompleted"
            (change)="onChangeTask(index)">
        </div>
      </div>
      <input type="text"
        class="form-control"
        ngClass="{{ (task.isCompleted === true) ? 'status-complete' : '' }}"
        [value]="task.detail"
        [disabled]="task.isDisabled"
        (keyup.enter)="task.detail = $event.target.value; onEditTask(task)"
        (focusout)="task.detail = $event.target.value; onEditTask(task)">
      <div class="input-group-append d-none">
        <button class="btn btn-danger"
          type="button"
          (click)="onRemoveTask(task)">X</button>
      </div>
    </div>
  </ng-template>
</div>
