<div *ngFor="let task of tasks; let index = index">
  <article *ngIf="(filter === statusEnum.All || filter === statusEnum.Active) && (task.status === false)">
    <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>
  </article>
  <article *ngIf="(filter === statusEnum.All || filter === statusEnum.Completed) && (task.status === true)">
    <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>
  </article>

  <ng-template #itemTemplate>
    <div class="input-group mb-1">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="checkbox"
            id="check-{{index}}"
            [checked]="task.status"
            (change)="onChangeTask(index)">
        </div>
      </div>
      <input type="text"
        class="form-control"
        ngClass="{{ (task.status === true) ? 'status-complete' : '' }}"
        [value]="task.detail"
        (keyup.enter)="onEditTask(task)">
      <div class="input-group-append">
        <button class="btn btn-danger"
          type="button"
          id="check-{{index}}"
          (click)="onRemoveTask(task)">X</button>
      </div>
    </div>
  </ng-template>
</div>
