<div>
  <input type="checkbox"
    (change)="onToggleTasks($event.target.checked)">
  <input type="text"
    (keyup.enter)="onAddTask($event.target.value)"
    placeholder="What's need to be done?">
</div>
<section>
  <app-task [tasks]="tasks"
    [filter]="filter"
    (removeTask)="onRemoveTask($event)"
    (changeTask)="onChangeTask($event)">
  </app-task>
</section>
<div>
  Filter
  <button (click)="onFilter(statusEnum.All)">All</button>
  <button (click)="onFilter(statusEnum.Active)">[{{ tasks | count }}] Active</button>
  <button (click)="onFilter(statusEnum.Completed)">[{{ tasks | count:true }}] Completed</button>
  <button *ngIf="filter===statusEnum.Completed"
    (click)="onClearCompleted()">Delete completed</button>
</div>
