<div class="card">
  <h5 class="card-header text-center">{{ title | uppercase }}</h5>
  <div class="card-body">
    <div class="input-group mb-1">
      <div class="input-group-prepend"
        *ngIf="tasks.length > 0">
        <div class="input-group-text">
          <input type="checkbox"
            (change)="onToggleTasks($event.target.checked)"
            [checked]="tasks.length === (tasks | count:true)">
        </div>
      </div>
      <input type="text"
        #taskInput
        class="form-control"
        (keyup.enter)="onAddTask(taskInput)"
        placeholder="What's need to be done?"
        (focusin)="onDisableAllTasks()">
    </div>
    <hr />
    <app-task [tasks]="tasks"
      [filter]="filter"
      (removeTask)="onRemoveTask($event)"
      (editTask)="onEditTask($event)"
      (disabledTask)="onDisabledTask($event)"
      (changeTask)="onChangeTask($event)">
    </app-task>
  </div>
  <div class="card-footer">
    <div class="btn-toolbar"
      role="toolbar">
      <div class="btn-group mr-2"
        role="group">
        <button type="button"
          class="btn btn-footer"
          ngClass="{{ (filter === statusEnum.All) ? 'btn-primary' : 'btn-outline-primary' }}"
          (click)="onFilter(statusEnum.All)">All</button>
      </div>
      <div class="btn-group mr-2"
        role="group">
        <button type="button"
          class="btn"
          ngClass="{{ (filter === statusEnum.Active) ? 'btn-primary' : 'btn-outline-primary' }}"
          (click)="onFilter(statusEnum.Active)">
          Active
          <span class="badge"
            ngClass="{{ (filter === statusEnum.Active) ? 'badge-light' : ' badge-primary' }}">{{ tasks | count }}</span>
        </button>
      </div>
      <div class="btn-group mr-2"
        role="group">
        <button type="button"
          class="btn"
          ngClass="{{ (filter === statusEnum.Completed) ? 'btn-primary' : 'btn-outline-primary' }}"
          (click)="onFilter(statusEnum.Completed)">
          Completed
          <span class="badge"
            ngClass="{{ (filter === statusEnum.Completed) ? ' badge-light' : ' badge-primary' }}">{{ tasks | count:true }}</span>
        </button>
        <button type="button"
          class="btn btn-danger"
          *ngIf="(tasks | count:true) > 0"
          (click)="onClearCompleted()">Delete</button>
      </div>
    </div>
  </div>
</div>
